body {
    font-family: 'Jost', sans-serif;
    background-color: #f4c2c2;
}

aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fae7b5;
    color: #527c90;
    height: 100%;
}

aside h3 {
    align-self: center;
    font-size: 26px;
}

#icon {
    align-self: center;
    margin-bottom: 5px;
}

aside p {
    margin: 2px;
    align-self: center;
    margin-left: 8px;
    margin-right: 8px;
}

aside nav {
    display: flex;
    margin:10px;
    align-self: center;
    flex-direction: column;
}

aside nav a {
    text-decoration: none;
    margin: 8px;
    align-self: center;
    color: #fae7b5;
    background-color: #527c90;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    transition: all 250ms ease-out;
}

aside nav a:hover {
    box-shadow: inset 0 0 15px #293e48;
    color: #fdf5e1;
}

aside nav a:focus {
    box-shadow: none;
}

aside footer {
    margin-top: auto;
    align-self: center;
}