*{
    color: #742e2e;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Jost', sans-serif;
    background-color: #ffffff;
    margin: 0;
}

header{
    background-color: #f4f4f4;
    height: 50px;
}

#home{
    font-size: 24px;
    font-weight: 500;
}

#home:hover{
    color: #b66565;
}

#nav-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    height: 50px;
}


.btn-1{
    margin-left: 20px;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    padding: 2px 8px;
    font-weight: 500;
    box-shadow: 2px 2px 3px #5c5c64;
    transition: all 200ms ease-out;
    width: fit-content;
}

.btn-1:hover{
    box-shadow: 3px 3px 5px #5c5c64;
}

.btn-1:active{
    box-shadow: none;
}

.btn-2{
    margin: 20px;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    padding: 2px 8px;
    font-weight: 500;
    box-shadow: 2px 2px 3px #5c5c64;
    transition: all 200ms ease-out;
    width: fit-content;
}

.btn-2:hover{
    box-shadow: 3px 3px 5px #5c5c64;
}

.btn-2:active{
    box-shadow: none;
}

#home-cont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: translateY(25%);
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.column{
    flex: content;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: solid 1px #742e2e;
}

.card-font{
    font-size: 21px;
    font-weight: 400;
    border-bottom: dotted 2px #742e2e ;
}

.links{
    display: flex;
    flex-direction: row;
}

.card-img{
    border: solid 1px #742e2e;
}

/* footer only on main page */
footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    align-items: center;
    transform: translateX(-50%);
}

footer a{
    margin: 10px;
}

.skills{
    margin: 20px;
}

#skills-cont{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    transform: translateX(50%);
}

#skills-list{
    font-size: 18px;
}

h2{
    text-align: center;
    margin-top: 50px;
}

#resume{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    cursor: default;
}

#resume img{
    margin-top: 20px;
    cursor: pointer;
}

#form-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
}

#submit-btn{
    display: block;
    width: 100%;
    padding: 3px;
    border-radius: 2px;
    cursor:pointer;
    border: 1px solid #5c5c64;
}