*{
    color: #327594;
    text-decoration: none;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Jost', sans-serif;
    background-color: #f4c2c2;
    width: 1270px;
    margin: 0;
}

aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #cea5a5;
    height: 100%;
}

aside h3 {
    align-self: center;
    font-size: 26px;
}

#icon {
    align-self: center;
    margin-bottom: 5px;
}

aside p {
    margin: 2px;
    align-self: center;
    margin-left: 8px;
    margin-right: 8px;
}

aside nav {
    display: flex;
    margin:10px;
    align-self: center;
    flex-direction: column;
}

aside nav a {
    margin: 8px;
    align-self: center;
    color: rgb(240, 230, 230);
    background-color: #327594;
    border-radius: 10px;
    padding: 0px 50px;
    display: block;
    box-shadow: 0 0 10px #866c6c;
    transition: all 250ms ease-out;
}

aside nav a:hover {
    box-shadow: inset 0 0 15px rgb(35, 53, 62);
    color: #fff;
}

aside nav a:focus {
    box-shadow: inset 0 0 15px #0d1418;
}

aside footer {
    margin-top: auto;
    align-self: center;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    left: 243.031px;
    right: 0;
}

header {
    height: 200px;
    line-height: 200px;
}

header span{
    font-size: 80px;
}

#projects {
    display: flex;
    /* flex-wrap: wrap; */
    border-radius: 15px;
    padding: 10px;
    width: 100%px;
    height: 1000px;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
    align-items: center;
    margin-bottom: 250px;
}

.card{
    margin: 10px;
    height: 176px;
    width: fit-content;
    transition: all 250ms ease-out;
}

.card:hover{
    box-shadow: 0 0 10px #574646;
}


#contact {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 500px;
    justify-content: space-around;
    align-items: center;
}

.code-btn {
    margin: 8px;
    align-self: center;
    color: rgb(240, 230, 230);
    background-color: #327594;
    border-radius: 10px;
    padding: 0px 50px;
    display: block;
    box-shadow: 0 0 10px #866c6c;
    transition: all 250ms ease-out;
}

.code-btn:hover {
    box-shadow: inset 0 0 15px rgb(35, 53, 62);
    color: #fff;
}

.code-btn:focus {
    box-shadow: inset 0 0 15px #0d1418;
}


@media screen and (max-width: 768px){
    
    header{
        transform: translate(15%);
        width: 400px;
    }

    header span{
        font-size: 40px;
    }
}